{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-multiselect.css') }}">
    <script src="{{ asset('js/jquery.datetimepicker.full.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-multiselect.js') }}"></script>
    <script src="{{ asset('js/projectjs.js') }}"></script>
{% endblock %}
{% block body %}
    <h1>Project edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    <a href="{{ path('project_close', {'idproject':project.idproject}) }}" >close</a>

    <ul>
        <li>
            <a href="{{ path('project_index') }}">Back to the list</a>
        </li>

        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    {#    <input id="datepicker" class="datepicker" type="text" placeholder="Date"/>
        <label for="is_time">Specifier une heure : </label></label><input type="checkbox" id="is_time" class="is_time"/>
        <input id="timepicker" class="timepicker" type="text" place placeholder="Heure"/>#}
    <br>
{#    <select id="list-users" name="multiselect[]" multiple="multiple">
            {% for user in fosUser %}
                <option value="{{ user.id|e }}">{{ user.username|e }}</option>
            {% endfor %}
    </select>#}


{% endblock %}
