{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('js/projectjs.js') }}"></script>
{% endblock %}
{% block body %}
    <h1>Project</h1>

    <table>
        <tbody>
            <tr>
                <th>Libelle</th>
                <td>{{ project.libelle }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if project.creationdate %}{{ project.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Limitedate</th>
                <td>{% if project.limitedate %}{{ project.limitedate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if project.enddate %}{{ project.enddate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Idproject</th>
                <td>{{ project.idproject }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('project_edit', { 'idproject': project.idproject }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
