{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('js/projectjs.js') }}"></script>
{% endblock %}
{% block body %}
    <h1>Project</h1>

    <table class="table borderless">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ project.libelle }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{% if project.creationdate %}{{ project.creationdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            {% if project.limitedate %}
            <tr>
                <th>Date butoir</th>
                <td>
                    {%  if project.limitedate|date('H:i:s') %}
                        {{ project.limitedate|date('d-m-Y') }}
                    {% else %}
                        {{ project.limitedate|date('d-m-Y H:i') }}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>Date de clôture</th>
                <td>{% if project.enddate %}
                        {{ project.enddate|date('Y-m-d H:i') }}
                    {% else %}
                        <i>Projet en cours</i>
                    {% endif %}
                </td>
            </tr>
            {% if project.details %}
            <tr>
                <th>Informations complémentaires</th>
                <td>{{ project.details }}</td>
            </tr>
            {% endif %}
            {% if project.user %}
                <tr>
                <th>Utilisateurs</th>
                <td>
                    <button id="show-user-in-project">Afficher ({{ project.user|length }})</button>
                    <ul class="user-in-project">

                {% for users in project.user %}
                    <li><a href="{{ path('fos_user_profile_show', {'user':users.id}) }}" {{ users.id }}>{{ users }}</a></li>
                {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% if task %}
                <tr>
                <th>Taches enfant</th>
                <td>
                    <button id="show-task-in-project">Afficher ({{ task|length }})</button>
                    <ul class="task-in-project">
                        {% for tasks in task %}
                            <li><a href="{{ path('task_show', { 'idtask': tasks.idtask}) }}" target="_blank">{{ tasks.libelle }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('project_index') }}">Back to the list</a>
        </li>
        {% if (app.user.username == project.master)  or (is_granted('ROLE_ADMIN')) %}
            <li>
                <a href="{{ path('project_edit', { 'idproject': project.idproject }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
